<footer id="footer">
  <div class="footer-left">
    Copyright © By <a href="https://www.hamoe.cn" target="_blank">HamoeNet Co.,Ltd.</a> | <a href="https://beian.miit.gov.cn/" rel="nofollow">豫ICP备2021003900号</a>
    <br>
    Powered By <a href="https://hexo.io" target="_blank" rel="nofollow">Hexo</a> & Theme By <a href="https://github.com/probberechts/hexo-theme-cactus" target="_blank" rel="nofollow">Cactus</a> | 由<a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank"><b>又拍云</b></a>提供中国大陆CDN加速服务
  </div>
  <div class="footer-right">
    <nav>
      <ul>
        <% for (var i in theme.nav) { %> 
          <li><a href="<%- url_for(theme.nav[i]) %>"><%= __('nav.'+i).replace("nav.", "") %></a></li>
        <% } %>
      </ul>
    </nav>
  </div>
</footer>
